.atp-link{
  padding: 5px 25px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: black;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
  background-color: rgba(0,0,0,0.5);
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-ripple-element{
  background-color: rgba(0,0,0,0.5);
}

.mat-header-row , .mat-paginator{
  background-color:#fbfbfb;
}

.mat-select-panel{
  border-radius: 0px;
}
.mat-row:hover {
  background-color: rgba(0, 124, 188, 0.49);
}

.deleted-row{
  display: none;
}

.modified-row{
  background-color: rgba(233, 118, 29, 0.51);
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: rgba(233, 118, 29, 0.88);
}

.info-block{
  height:120px;
  border:1px solid #ccc;
  overflow:auto;
}

.info-block h6:hover{
  background-color: rgba(0, 124, 188, 0.49);
}

