<div class=" mx-lg-5  mt-5  mb-5">
  <div class="card">
    <div class="card-header">
      <h6>
        <span class="atp-link">{{ 'labels_and_placeholders.ATP_label' | translate}}</span>
        <span class="account-display-name float-right"></span>
      </h6>

    </div>
    <div class="card-body">
      <link rel="stylesheet" [href]='cssUrl'>

      <div class="float-right ">
        <span class="mr-2 flags">
          <label [class]="selectedLanguageIso=='en'?'btn-icon-selected':''">
            <img src="https://img.icons8.com/color/48/000000/great-britain.png" class="language-clickable mx-1 " (click)="setLanguage('en')">
            <!-- <flag-icon country="gb" class="language-clickable mx-1 " (click)="setLanguage('en')" rectangled>en</flag-icon> -->
          </label>
          <label [class]="selectedLanguageIso=='de'?'btn-icon-selected':''">
            <!-- <flag-icon country="de" class="language-clickable mx-1" (click)="setLanguage('de')">de</flag-icon> -->
            <img src="https://img.icons8.com/color/48/000000/germany.png" class="language-clickable mx-1 " (click)="setLanguage('de')">

          </label>
          <label [class]="selectedLanguageIso=='ua'?'btn-icon-selected':''">
            <!-- <flag-icon country="ua" class="language-clickable mx-1" (click)="setLanguage('ua')">de</flag-icon> -->
            <img src="https://img.icons8.com/color/48/000000/ukraine.png" class="language-clickable mx-1 " (click)="setLanguage('ua')">

          </label>
        </span>
        <mat-slide-toggle color="secondary" [(ngModel)]="useDark"><span>{{selectedTheme.name}}</span></mat-slide-toggle>
      </div>

      <table-search></table-search>
    </div>

  </div>
</div>