/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';

*{
    outline: none !important;
}
    
.form-container{
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 7px 0px rgba(192, 170, 170, 0.5);
}

.form-control{
    border-color: #b1b1b1;
}

.form-control.is-invalid{
    background-image: url("/src/resources/images/validate-info.svg");
    border-color: #e25215;
    padding-right: calc(1.5em + 0.75rem);
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple ,.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background ,.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: #007bff;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle ,.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    border-color: #007bff;
}
 

.diselected-check-box .mat-checkbox-frame {
    border-color: #c1bfbf;
}



table-search > div > div.col-lg-1{
    padding-left: 0;
}


table-search > div > div > button{
    height: 100%;
}

.mat-sort-header-arrow {
    color: white;
}

.mat-tooltip.tooltippp {
    background-color: #333333;
    font-size: 13px;
  }

.center .mat-button span {
    font-size:12px !important;
}

.box-validator .mat-checkbox-frame{
    border-color: #e25215;
    -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0); } 
}

.loader-container{
    margin-top: 10px;
    text-align: center;
}
  
.loader-container p{
    margin-top: 10px;
}
.loader-container i{
    display: block;
    margin: auto;
    width: 50px;
}

.node-select .mat-select-placeholder{
    color: rgba(0,0,0,.87) !important;
}

.highlighted{
    background: #ea782b;
  }
